body {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(122, 115, 115);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}









div.page {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 30fr 40px;
    grid-template-areas: 'header header' 
                         'menu mainContent'
                         'menu footer';
}

div.header {
    background-color: rgb(95, 95, 95);
    grid-area: header;
    text-align: center;
    font-size: 400%;
    color:rgb(231, 226, 226)
    
    
   
    }
    .header {

        /* background-image: url(sky.jpg);
        /* background-image: url(night.jpg); */
        background-repeat: no-repeat; 
        background-size: 100%;
        background-image: linear-gradient(to right, rgb(3, 3, 3), rgb(76, 69, 69));              
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        
    }

ul, li {
list-style: none;
}

div.menu {
    background-color: rgb(95, 95, 95);
    text-align: center;
    grid-area: menu; 
    font-size: 130%;
    font-family: arial;
    padding: 0;
    margin: 0;
    background: -webkit-linear-gradient(rgb(7, 6, 6), rgb(80, 73, 73));
    
    
    

    /* background-image: url(skog.jpg); */
    /* background-image: url(dupp.jpg); */
    background-repeat: no-repeat;
    /* background-size: cover;  */
    background-size: 200% 100%;
    /* background-attachment:fixed; */
        
    
}




div.mainContent {
    background-color: rgb(201, 195, 195);
    grid-area: mainContent;
    text-align-last:left
    color: black;
    font-size: 130%;
    font-family: arial;
    
    background-image: url(skog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    

}


.mainContent {
    color: rgb(219, 129, 55);
    font-style:oblique;
    
}

div.footer {
    background-color: rgb(95, 95, 95);
    grid-area: footer;
}


.menuknapp {
    background-color: #1c3544;
border: none;
color: white;
padding: 20px 34px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 5px 3px;
cursor: pointer;
box-shadow: 2px 2px rgb(100, 96, 96);

}


#Home {
margin: 4px 0px;
padding: 20px 35px;
float: left;
color: white;
hover: 
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#Links {
padding: 20px 38px;
margin: 4px 0px;
float: left;
color: white;
/* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
}
#About {
padding: 20px 35.5px;
margin: 4px 0px;
float:left;
color: white;
/* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */

}
#Gallery {
padding: 20px 30px;
margin: 4px 0px;
float: left;
color: white;
/* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
}
{
    background-color: black;
    font-family: cursive;
  }
  
  h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f57812, 0 0 40px #ee940e, 0 0 50px #e67417, 0 0 60px #ee680f, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #df8218, 0 0 40px #a05d26, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
@media only screen and (max-width: 600px) {
    div.page {
        grid-template-columns: 1fr;
        grid-template-rows: 20px 1fr 4fr 20px;
        grid-template-areas: 'header' 
                             'menu'
                             'mainContent'
                             'footer';
    }
   